
<div class="container-image">
<img src="./assets/image/astromon/{{element}}/{{name}}.png" height="{{height}}">
<div class="container-star">
<img *ngIf="star>=1" class="star" src="./assets/image/resources/star.png" height="{{height/4.5}}">
<img *ngIf="star>=2" class="star" src="./assets/image/resources/star.png" height="{{height/4.5}}">
<img *ngIf="star>=3" class="star" src="./assets/image/resources/star.png" height="{{height/4.5}}">
<img *ngIf="star>=4" class="star" src="./assets/image/resources/star.png" height="{{height/4.5}}">
<img *ngIf="star>=5" class="star" src="./assets/image/resources/star.png" height="{{height/4.5}}">
<img *ngIf="star>=6" class="star" src="./assets/image/resources/star.png" height="{{height/4.5}}">
</div>
</div>
