.container-image {
    position: relative;
    display: inline-block;
}

.star { }

.container-star {
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
}

.container-star .star:nth-child(1n+2) {
  margin-top: -8px;
}
