.astromon-section {

}

.astromon-panel {

}

.astromon-panel-header {

}

.astromon-panel-body {

}

.card-astromon {
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  display: block;
  /* padding-left: 78px; */
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px 2px 0 0;
  border-color: rgba(255, 255, 255, 0.27);
  height: 64px;
  padding-left: 64px;
}

.astro-theme-water .card-astromon {
  border-color: #a0b2c6;
}

.astro-theme-fire .card-astromon {
  border-color: #c6a4a7;
}

.astro-theme-wood .card-astromon {
  border-color: #a5be96;
}

.astro-theme-light .card-astromon {
  border-color: #f4e59f;
}

.astro-theme-dark .card-astromon {
  border-color: #a161db;
}

.card-astromon .card-img {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}

.card-name {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.075em;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 0 0 2px 2px;
}

.astro-theme-water .astro-header {
  background-color: #a0b2c6;
  color: #002447;
}

.astro-theme-fire .astro-header {
  background-color: #c6a4a7;
  color: #470800;
}

.astro-theme-wood .astro-header {
  background-color: #a5be96;
  color: #00330b;
}

.astro-theme-light .astro-header {
  background-color: #f4e59f;
  color: #4e4b08;
}

.astro-theme-dark .astro-header {
  background-color: #a161db;
  color: #33052b;
}

.card-astromon .card-info {
  text-align: left;
  position: relative;
  line-height: 20px;
  height: 20px;
  display: block;
}

.card-info .card-info-img {
  vertical-align: inherit;
}

.card-info strong {
  margin-left: 5px;
  vertical-align: top;
  color: #1a1a1a;
}






.container-image {
    position: relative;
    display: inline-block;
}

.star { }

.container-star {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
}

.container-star .star:nth-child(1n+2) {
  margin-left: -5px;
}

.container-evo {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
}

.row {
  background: #f8f9fa;
  margin-top: 10px;
}

.astromon-item {
  display: inline-block;
  cursor: pointer;
}

.item-container {
  display: flex;
  flex-direction: column;
  /* border: solid 1px #6c757d; */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  font-size: 0.9rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.top-body,
.bottom-body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.bottom-body {
  border-top: solid 1px #6c757d;
}

.astro-img>img {
  border-radius: 3px 0 0 0;
}

.astro-infos {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.astro-header {
  width: 100%;
  border-bottom: solid 1px #6c757d;
  text-align: center;
  border-radius: 0 3px 0 0;
}

.astro-header>span {
  padding: 5px;
  font-weight: bold;
}

.skill-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.skill-container:nth-child(2) {
  border-left: solid 1px #6c757d;
  border-right: solid 1px #6c757d;
}

.skill-img-container {
  text-align: center;
}

.skill-txt-container {
  display: flex;
  flex-direction: column;
}

.skill-txt-container>span {
  text-align: left;
  margin: 0 10px;
}

.skill-name {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
