<div class="astromon-item astro-theme-{{astromon.element | lowercase}}">
  <a [routerLink]="['/astromon', astromon.astromon_id, astromon.element | lowercase]">
    <div class="card-astromon">
      <div class="container-image card-img">
        <img *ngIf="!variant" src="./assets/image/astromon/{{astromon.element | lowercase}}/{{astromon.name[evo-1] | lowercase}}.png" height="{{height}}">
        <img *ngIf="variant" src="./assets/image/astromon/{{astromon.element | lowercase}}/{{astromon.name[evo-1] | lowercase}}V.png" height="{{height}}">
        <div class="container-star">
          <img *ngIf="astromon.grade>=1" class="star" src="./assets/image/resources/star.png" height="{{height/4.2}}" />
          <img *ngIf="astromon.grade>=2" class="star" src="./assets/image/resources/star.png" height="{{height/4.2}}" />
          <img *ngIf="astromon.grade>=3" class="star" src="./assets/image/resources/star.png" height="{{height/4.2}}" />
          <img *ngIf="astromon.grade>=4" class="star" src="./assets/image/resources/star.png" height="{{height/4.2}}" />
          <img *ngIf="astromon.grade>=5" class="star" src="./assets/image/resources/star.png" height="{{height/4.2}}" />
          <img *ngIf="astromon.grade>=6" class="star" src="./assets/image/resources/star.png" height="{{height/4.2}}" />
        </div>
      </div>
      <span class="card-info">
        <img class="card-info-img" src="./assets/image/passive/{{astromon.normal.passive.name | lowercase}}.png"  title="{{passiveText}}"width="20" />
        <strong>{{astromon.hp}}</strong>
      </span>
      <span class="card-info">
        <img class="card-info-img" src="./assets/image/passive/{{astromon.active.passive.name | lowercase}}.png"  title="{{activeText}}" width="20" />
        <strong>{{astromon.atk}}</strong>
      </span>
      <span class="card-info">
        <img class="card-info-img" src="./assets/image/leader/{{astromon.variant.name | lowercase}}.png"  title="{{variantText}}" width="20" />
        <strong>{{astromon.def}}</strong>
      </span>
    </div>
    <div class="card-name">
      <span>{{astromon.name[evo-1]}}</span>
    </div>
  </a>
</div>